<p>Your username: <%= @username %></p>
<p>Current players: <%= @players %></p>

<%= if @game_state do %>
    <HanabiWeb.GameBoard.board game={@game_state} />
<% else %>
    <%= if length(@players) > 1 do %>
        <button phx-click="start_game">Start Game</button>
    <% end %>
<% end %>
