<%= if @game_state do %>
    <HanabiWeb.GameBoard.board
        client_username={@username}
        game={@game_state}
        active_tile={@active_tile}
    />
<% else %>
    <%= if length(@players) > 1 do %>
        <button phx-click="start_game">Start Game</button>
    <% end %>
<% end %>
