<.form let={f} for={@changeset} as={:player} phx-submit="add_player">
<%= label f, :username %>
<%= text_input f, :username %>
<%= error_tag f, :username %>
<%= submit "Join Game" %>
</.form>

<p>Current players: <%= @players %></p>
