:root {
  --tile-red: indianred;
  --tile-blue: cornflowerblue;
  --tile-green: mediumseagreen;
  --tile-yellow: gold;
  --tile-white: white;
  --tile-rainbow: orchid;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: sans-serif;
}

/* GAME STYLES ======================================================================= */

.game-info {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 1em;
  padding: 1em;
}

/* MESSAGE STYLES ================================ */

.game-messages {
  line-height: 1.5;
  width: 60ch;
  max-height: 4rem;
  overflow-y: scroll;
}

/* DECK STYLES ================================ */

.deck-and-hints {
  grid-column-start: 2;
  justify-self: end;
  display: flex;
  flex-direction: row-reverse;
}

.deck-and-hints > * + * {
  margin-right: 0.5em;
}

.deck {
  background: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 0.5em;
  width: max-content;
  font-size: 1.25rem;
  line-height: 1.25;
}

.deck > span {
  display: block;
}

/* BOARD STYLES ================================ */

.board {
  display: flex;
}

.board > * + * {
  margin-left: 0.5em;
}

.board-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 4em;
  background: gray;
  border: 1px solid gray;
  font-weight: bold;
  font-size: 1.5rem;
}

/* DISCARD STYLES ================================ */

.discard {
  width: min-content;
  justify-self: end;
}

.discard-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25em;
  width: max-content;
}

.discard-color-group {
  display: flex;
  width: max-content;
}

.discard-color-group > * + * {
  margin-left: 0.1em;
}

.discard-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 2em;
  background: gray;
  border: 1px solid gray;
  font-weight: bold;
  font-size: 1rem;
}
/* PLAYER STYLES =============================== */

.player {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  position: relative;
}

.player[current_player] {
  background-color: #EEE;
}

.player-info {
  flex: 1 0 auto;
  padding: 0.5rem 0;
}

.player > p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* HAND STYLES =============================== */

.hand {
  display: flex;
}

.hand > * + * {
  margin-left: 1rem;
}

/* HINT BUTTON STYLES */

.hint-buttons {
  display: flex;
}

.hint-buttons > * + * {
  margin-left: 1em;
}

.hint-buttons > [class*="hint-button-"] {
  display: flex;
  flex-direction: column;
}

.action-button + * {
  margin-top: 0.5em;
}

.action-button {
  font-size: 1rem;
  width: 10ch;
  padding: 0.25em;
  cursor: pointer;
}

/* TILE STYLES =============================== */

.tile-square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 10rem;
  background: gray;
  border: 1px solid gray;
  font-weight: bold;
  font-size: 1.5rem;
}

button.tile-square {
  cursor: pointer;
}

button.tile-square[active] {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.tile-hints-color, .tile-hints-number {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0.25em;
}

.tile-hints-color > *, .tile-hints-number > * {

}

.tile-hints-color > * + *, .tile-hints-number > * + * {
  margin-left: 0.2em;
}

.tile-hints-color > * > *, .tile-hints-number > * > * {
  opacity: 0.3;
}

.tile-hints-color > * > [possible_value], .tile-hints-number > * > [possible_value] {
  opacity: 1;
}

.tile-hints-number > * {
  font-weight: bold;
  font-size: 1.25rem;
}

.tile-hints-color [class*="color-"] {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  border: 1px black solid;
}

/* UTILITY STYLES ================================================ */

.color-red {
  background-color: var(--tile-red);
}

.color-blue {
  background-color: var(--tile-blue);
}

.color-green {
  background-color: var(--tile-green);
}

.color-yellow {
  background-color: var(--tile-yellow);
}

.color-white {
  background-color: var(--tile-white);
}

.color-rainbow {
  background-color: var(--tile-rainbow);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;}
